listen = "0.0.0.0:8880"
etcd = "http://127.0.0.1:2379"
log_vl = 10
log = "info"
debug = true
stdout = true

[monitor]                       #overlord集成普罗米修斯与grafana的参数
  url = "http://127.0.0.1:1234"
  panel = "overlord"
  name_var = "cluster"
  org_id = 1

[groups]
  sh001 = "上海核心"
  bj001 = "北京核心"

[[versions]]                    # 版本信息
  cache_type = "redis"
  versions = ["4.0.11", "3.2.8"]
  image = "docker.io/library/redis"

[[versions]]
  cache_type = "redis_cluster"
  versions = ["4.0.11", "3.2.8", "5.0"]
  image = "docker.io/library/redis"

[[versions]]
  cache_type = "memcache"
  versions = ["1.5.0"]

[cluster]                       #集群默认配置:overlord-proxy专用配置
dial_timeout = 1000
read_timeout = 1000
write_timeout = 1000
node_connections = 2
ping_fail_limit = 3
ping_auto_eject = true
